@{
    Layout = "~/Views/Shared/_FrontPage.cshtml";
    ViewBag.Title = "Acerca de";
}
<div style="padding-top:150px" >
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>